In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl as op

In [8]:
sheets=pd.read_excel('Regional Sales Dataset.xlsx',sheet_name=None)

In [10]:
sheets

{'Sales Orders':         OrderNumber  OrderDate  Customer Name Index      Channel  \
 0       SO - 000225 2014-01-01                  126    Wholesale
 1      SO - 0003378 2014-01-01                   96  Distributor
 2      SO - 0005126 2014-01-01                    8    Wholesale
 3      SO - 0005614 2014-01-01                   42       Export
 4      SO - 0005781 2014-01-01                   73    Wholesale
 ...             ...        ...                  ...          ...
 64099  SO - 0007573 2018-02-28                   74    Wholesale
 64100  SO - 0007706 2018-02-28                   51       Export
 64101  SO - 0007718 2018-02-28                  136  Distributor
 64102  SO - 0008084 2018-02-28                  158  Distributor
 64103  SO - 0008654 2018-02-28                   22  Distributor

       Currency Code Warehouse Code  Delivery Region Index  \
 0               USD         AXW291                    364
 1               USD         AXW291                    488
 2               USD         AXW291                    155
 3               USD         AXW291                    473
 4               USD         AXW291                    256
 ...             ...            ...                    ...
 64099           USD         AXW291                    825
 64100           USD         NXH382                    444
 64101           USD         AXW291                    312
 64102           USD         AXW291                    737
 64103           USD         AXW291                    807

        Product Description Index  Order Quantity  Unit Price  Line Total  \
 0                             27               6      2499.1     14994.6
 1                             20              11      2351.7     25868.7
 2                             26               6       978.2      5869.2
 3                              7               7      2338.3     16368.1
 4                              8               8      2291.4     18331.2
 ...                          ...             ...         ...         ...
 64099                         26              12      1815.7     21788.4
 64100                         21               6       864.3      5185.8
 64101                         13              11      3953.0     43483.0
 64102                         20               7      3959.7     27717.9
 64103                         15               8       998.3      7986.4

        Total Unit Cost
 0             1824.343
 1             1269.918
 2              684.740
 3             1028.852
 4             1260.270
 ...                ...
 64099          980.478
 64100          579.081
 64101         2648.510
 64102         2930.178
 64103          848.555

 [64104 rows x 12 columns],
 'Customers':      Customer Index Customer Names
 0                 1  Geiss Company
 1                 2  Jaxbean Group
 2                 3     Ascend Ltd
 3                 4      Eire Corp
 4                 5   Blogtags Ltd
 ..              ...            ...
 170             171   Accord Group
 171             172   BB17 Company
 172             173          H Ltd
 173             174   Tekfly Group
 174             175   SHISEIDO Ltd

 [175 rows x 2 columns],
 'Regions':       id        name                                   county state_code  \
 0      1      Auburn                               Lee County         AL
 1      2  Birmingham           Shelby County/Jefferson County         AL
 2      3     Decatur           Limestone County/Morgan County         AL
 3      4      Dothan  Dale County/Houston County/Henry County         AL
 4      5      Hoover           Shelby County/Jefferson County         AL
 ..   ...         ...                                      ...        ...
 989  990      Racine                            Racine County         WI
 990  991    Waukesha                          Waukesha County         WI
 991  992  West Allis                         Milwaukee County         WI
 992  993      Casper                           Natrona County         WY
 993  994    Cheyenne                           Laramie County         WY

          state  type  latitude  longitude  area_code  population  households  \
 0      Alabama  City  32.60986  -85.48078        334       62059       21767
 1      Alabama  City  33.52744  -86.79905        205      212461       89972
 2      Alabama  City  34.57332  -86.99214        256       55437       22294
 3      Alabama  City  31.23370  -85.40682        334       68567       25913
 4      Alabama  City  33.37695  -86.80558        205       84848       32789
 ..         ...   ...       ...        ...        ...         ...         ...
 989  Wisconsin  City  42.72613  -87.78285        262       77742       29851
 990  Wisconsin  City  43.01168  -88.23148        262       71970       28331
 991  Wisconsin  City  43.01668  -88.00703        414       60620       27457
 992    Wyoming  City  42.86663 -106.31308        307       60285       23814
 993    Wyoming  City  41.13998 -104.82025        307       63335       25130

      median_income  land_area  water_area        time_zone
 0            38342  152375113     2646161  America/Chicago
 1            31061  378353942     6591013  America/Chicago
 2            41496  141006257    17594716  America/Chicago
 3            42426  232166237      835468  America/Chicago
 4            77146  122016784     2553332  America/Chicago
 ..             ...        ...         ...              ...
 989          41455   40111757     8282116  America/Chicago
 990          59547   65856921      700602  America/Chicago
 991          45221   29480532       60789  America/Chicago
 992          57790   68507280      911081   America/Denver
 993          58219   69964749      282335   America/Denver

 [994 rows x 15 columns],
 'State Regions':        Column1               Column2    Column3
 0   State Code                 State     Region
 1           AL               Alabama      South
 2           AR              Arkansas      South
 3           AZ               Arizona       West
 4           CA            California       West
 5           CO              Colorado       West
 6           CT           Connecticut  Northeast
 7           DC  District of Columbia      South
 8           DE              Delaware      South
 9           FL               Florida      South
 10          GA               Georgia      South
 11          HI                Hawaii       West
 12          IA                  Iowa    Midwest
 13          ID                 Idaho       West
 14          IL              Illinois    Midwest
 15          IN               Indiana    Midwest
 16          KS                Kansas    Midwest
 17          KY              Kentucky      South
 18          LA             Louisiana      South
 19          MA         Massachusetts  Northeast
 20          MD              Maryland      South
 21          ME                 Maine  Northeast
 22          MI              Michigan    Midwest
 23          MN             Minnesota    Midwest
 24          MO              Missouri    Midwest
 25          MS           Mississippi      South
 26          MT               Montana       West
 27          NC        North Carolina      South
 28          ND          North Dakota    Midwest
 29          NE              Nebraska    Midwest
 30          NH         New Hampshire  Northeast
 31          NJ            New Jersey  Northeast
 32          NM            New Mexico       West
 33          NV                Nevada       West
 34          NY              New York  Northeast
 35          OH                  Ohio    Midwest
 36          OK              Oklahoma      South
 37          OR                Oregon       West
 38          PA          Pennsylvania  Northeast
 39          RI          Rhode Island  Northeast
 40          SC        South Carolina      South
 41          SD          South Dakota    Midwest
 42          TN             Tennessee      South
 43          TX                 Texas      South
 44          UT                  Utah       West
 45          VA              Virginia      South
 46          WA            Washington       West
 47          WI             Wisconsin    Midwest
 48          WY               Wyoming       West,
 'Products':     Index Product Name
 0       1    Product 1
 1       2    Product 2
 2       3    Product 3
 3       4    Product 4
 4       5    Product 5
 5       6    Product 6
 6       7    Product 7
 7       8    Product 8
 8       9    Product 9
 9      10   Product 10
 10     11   Product 11
 11     12   Product 12
 12     13   Product 13
 13     14   Product 14
 14     15   Product 15
 15     16   Product 16
 16     17   Product 17
 17     18   Product 18
 18     19   Product 19
 19     20   Product 20
 20     21   Product 21
 21     22   Product 22
 22     23   Product 23
 23     24   Product 24
 24     25   Product 25
 25     26   Product 26
 26     27   Product 27
 27     28   Product 28
 28     29   Product 29
 29     30   Product 30,
 '2017 Budgets':    Product Name  2017 Budgets
 0     Product 1   3016489.209
 1     Product 2   3050087.565
 2     Product 3   2642352.432
 3     Product 4   2885560.824
 4     Product 5   3925424.542
 5     Product 6   1672229.416
 6     Product 7    889737.555
 7     Product 8   1085037.329
 8     Product 9    710415.405
 9    Product 10    864331.624
 10   Product 11   1230458.484
 11   Product 12   1356976.996
 12   Product 13   3720639.645
 13   Product 14   4028698.409
 14   Product 15   3299478.315
 15   Product 16   2062061.144
 16   Product 17   2119616.824
 17   Product 18   2309499.045
 18   Product 19   1645841.600
 19   Product 20   2067108.120
 20   Product 21    959899.218
 21   Product 22    663601.902
 22   Product 23   1135815.758
 23   Product 24    756557.970
 24   Product 25   5342315.484
 25   Product 26   5685138.270
 26   Product 27    964940.231
 27   Product 28   1003867.767
 28   Product 29    594471.570
 29   Product 30   1011609.684}

In [12]:
#Assigning dataframe to each sheet
df_sales=sheets['Sales Orders']
df_customers=sheets['Customers']
df_products=sheets['Products']
df_regions=sheets['Regions']
df_state_reg=sheets['State Regions']
df_budgets=sheets['2017 Budgets']

In [16]:
print('df_sales shape:',(df_sales.shape))
print('df_customers shape:',(df_customers.shape))
print('df_products shape:',(df_products.shape))
print('df_regions shape:',(df_regions.shape))
print('df_state_reg shape:',(df_state_reg.shape))
print('df_budgets shape:',(df_budgets.shape))

df_sales shape: (64104, 12)
df_customers shape: (175, 2)
df_products shape: (30, 2)
df_regions shape: (994, 15)
df_state_reg shape: (49, 3)
df_budgets shape: (30, 2)